/**自动完成**/
.vs-auto-complete {
	background-color: #fff;
	border: 1.0px solid #ccc;
	box-shadow: 1.0px 1.0px 3.0px #ededed;
	-webkit-box-shadow: 1.0px 1.0px 3.0px #ededed;
	-moz-box-shadow: 1.0px 1.0px 3.0px #ededed;
	-o-box-shadow: 1.0px 1.0px 3.0px #ededed;
	_overflow: hidden;
}

.vs-auto-complete li {
	color: #000;
	line-height: 22.0px;
	padding: 0.0 8.0px;
	cursor: default;
}

.vs-auto-complete li.keyhover {
	background-color: #f0f0f0;
}

.vs-auto-complete li:hover {
	background-color: #f0f0f0;
	cursor: pointer;
}

.vs-auto-complete-page {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	height: 25px;
	line-height: 25px;
}