/**日历**/
.vs-calendar {
	width: 180px;
	background-color: #FFFFFF;
	border: #bbb 1px solid;
	padding: 2px;
	font-size: 9pt;
}

.vs-calendar .vs-calendar-NavImg a {
	display: block;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

.vs-calendar .vs-calendar-NavImgll a {
	float: left;
	background: transparent url(images/vs_calendar_img.gif) no-repeat scroll
		0 0;
}

.vs-calendar .vs-calendar-NavImgl a {
	float: left;
	background: transparent url(images/vs_calendar_img.gif) no-repeat scroll
		-16px 0;
}

.vs-calendar .vs-calendar-NavImgr a {
	float: right;
	background: transparent url(images/vs_calendar_img.gif) no-repeat scroll
		-32px 0;
}

.vs-calendar .vs-calendar-NavImgrr a {
	float: right;
	background: transparent url(images/vs_calendar_img.gif) no-repeat scroll
		-48px 0;
}

.vs-calendar .vs-calendar-dpTitle {
	height: 24px;
}

.vs-calendar .vs-calendar-yminput {
	text-align: right;
	height: 20px;
	border: 0px;
	width: 65px;
	cursor: pointer;
}

.vs-calendar .vs-calendar-yminput2 {
	text-align: left;
	height: 20px;
	border: 0px;
	width: 35px;
	cursor: pointer;
}

.vs-calendar .vs-calendar-menuSel {
	z-index: 1;
	position: absolute;
	background-color: #FFFFFF;
	border: #ccc 1px solid;
	display: none;
}

.vs-calendar .vs-calendar-menu {
	cursor: pointer;
	background-color: #fff;
}

.vs-calendar .vs-calendar-menuOn {
	cursor: pointer;
	background-color: #BEEBEE;
}

.vs-calendar .vs-calendar-menuInvalid {
	color: #aaa;
}

.vs-calendar .vs-calendar-YMenu {
	margin-top: 20px;
}

.vs-calendar .vs-calendar-MMenu {
	margin-top: 20px;
}

.vs-calendar .vs-calendar-HHMenu {
	margin-top: 20px;
}

.vs-calendar .vs-calendar-MMMenu {
	margin-top: 20px;
}

.vs-calendar .vs-calendar-SSMenu {
	margin-top: 20px;
}

.vs-calendar .vs-calendar-Wweek {
	text-align: center;
	background: #DAF3F5;
	border-right: #BDEBEE 1px solid;
}

.vs-calendar .vs-calendar-MTitle {
	background-color: #BDEBEE;
}

.vs-calendar .vs-calendar-WdayTable {
	width: 100%;
	line-height: 20px;
	border: #c5d9e8 1px solid;
	text-align: center;
}

.vs-calendar .vs-calendar-Wday {
	cursor: pointer;
}

.vs-calendar .vs-calendar-WdayOn {
	cursor: pointer;
	background-color: #C0EBEF;
}

.vs-calendar .vs-calendar-Wwday {
	cursor: pointer;
	color: #FF2F2F;
}

.vs-calendar .vs-calendar-WwdayOn {
	cursor: pointer;
	color: #000;
	background-color: #C0EBEF;
}

.vs-calendar .vs-calendar-Wtoday {
	cursor: pointer;
	color: blue;
}

.vs-calendar .vs-calendar-Wselday {
	cursor: pointer;
	background-color: #A9E4E9;
}

.vs-calendar .vs-calendar-WspecialDay {
	background-color: #66F4DF;
}

.vs-calendar .vs-calendar-WotherDay {
	cursor: pointer;
	color: #6A6AFF;
}

.vs-calendar .vs-calendar-WotherDayOn {
	cursor: pointer;
	background-color: #C0EBEF;
}

.vs-calendar .vs-calendar-WinvalidDay {
	color: #aaa;
}

.vs-calendar .vs-calendar-dpTime {
	margin: 3px 0 0 30px;
}

.vs-calendar .vs-calendar-dpTimeStr {
	padding: 0 5px 0 0;
}

.vs-calendar .vs-calendar-dpTime input {
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: left;
	border: #ccc 1px solid;
	margin: 0;
}

.vs-calendar .vs-calendar-dpTime .vs-calendar-dpTime-tB {
	border-right: 0px;
}

.vs-calendar .vs-calendar-dpTime .vs-calendar-dpTime-tM {
	border-left: 0;
	border-right: 0;
}

.vs-calendar .vs-calendar-dpTime .vs-calendar-dpTime-tE {
	border-left: 0;
}

.vs-calendar .vs-calendar-dpTime .vs-calendar-dpTime-tm {
	width: 7px;
	border-left: 0;
	border-right: 0;
}

.vs-calendar .vs-calendar-dpTimeUp {
	height: 10px;
	width: 13px;
	border: 0px;
	background: url(images/vs_calendar_img.gif) no-repeat -32px -16px;
	margin: 0;
	padding: 0;
	display: block;
}

.vs-calendar .vs-calendar-dpTimeDown {
	height: 10px;
	width: 13px;
	border: 0px;
	background: url(images/vs_calendar_img.gif) no-repeat -48px -16px;
	margin: 0;
	padding: 0;
	display: block;
}

.vs-calendar .vs-calendar-dpQS {
	float: left;
	margin-right: 3px;
	margin-top: 3px;
	background: url(images/vs_calendar_img.gif) no-repeat 0px -16px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.vs-calendar .vs-calendar-dpControl {
	text-align: center;
}

.vs-calendar .vs-calendar-dpButton {
	height: 20px;
	width: 45px;
	border: #ccc 1px solid;
	margin-top: 2px;
	margin-right: 1px;
}