.vs-team-member-one-selector {
	margin: 0 auto;
	padding: 5px 0;
}

.vs-team-member-one-selector .vs-clear {
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	line-height: 0;
}

.vs-team-member-one-selector .vs-float-left {
	float: left;
	_display: inline;
}

.vs-team-member-one-selector .vs-float-right {
	float: right;
	_display: inline;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone01 {
	height: 351px;
	background-color: White;
	border: 1px solid #9FB5D2;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone02 {
	height: 351px;
	background-color: White;
	border: 1px solid #9FB5D2;
	margin: 0 5px;
}


.vs-team-member-one-selector .vs-team-member-one-selector-zone-header {
	color: White;
	background: url(images/vs_memberSelector_titleBG.gif);
	line-height: 30px;
	font-weight: bold;
	text-indent: 3px;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone-con-tree {
	overflow: auto;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone-con-btn {
	background: url(images/vs_memberSelector_btn.png) no-repeat;
	border: none;
	width: 70px;
	height: 22px;
	margin: 0 5px 18px 5px;
	cursor: pointer;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone-con-input {
	margin: 5px 5px;
	padding: 0 5px;
	line-height: 22px;
	border: 1px #BED6E8 solid;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone-con-div {
	margin: 0 0 0 5px;
	overflow-x:auto;
	overflow-y:hidden;
	border: 1px solid #EFEFEF;
}

.vs-team-member-one-selector .vs-team-member-one-selector-zone-con-select {
	font-size: 13px;
	border:none;
	height: 280px;
	width: 100%;
}

.vs-team-member-one-selector .vs-team-member-one-selector-footer {
	padding-top: 5px;
	text-align: right;
}